body {
    background-color: #eaebed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    display: inline-block;
    width: 60%;
    margin-left: 25%;
    margin-top: 5%; 
}

img {
    display: inline-block;
    width: 40%;
    float: left;
    
}
div {
    display: inline-block;
    width: 50%;
    float: left;
    margin-left: 10%;
    margin-top: 60px;
    text-align: center;
    
    
}
h1 {
    display: inline-block;
    width: 100%;
    font-size: 80px;
    margin: 0px;
    
}
p {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    
    
}
span {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    
}
a {
    display: inline-block;
    padding: 20px;
    background-color: #db1111;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 25px;
    
}